footer{
    background: lighten(black,20%);
    .empty{
        height: 20px;
        background: #4D4382;
        margin-top: 20px;
    }
    .footcontainer{
        width: 940px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    .footcontainer2{
        margin-top: 20px;
        width: 940px;
        margin: auto;
        display: flex;
        flex-direction: row;
    }
    header{
        margin-top: 40px;
        width: 100%;
        .linija{
            width: 280px;
            margin-top: 20px;
        }
        .lorem{
            margin-top: 20px;
            color: gray;
            text-align: left;
        }
        .buttons{
            margin-top: 20px;
            padding-left: 0;
        }
       
    }
    .foot1 {
        width: 300px;
        display: flex;
        input {
            height: 40px;
            margin-top: 20px;
        }
        .submit{
            background: #4D4382;
            border: none;
            color: white;
            margin-left: -10px;
            height: 42px;
            width: 30%
        }
        
    }
    figure{
        margin: 0%;
        a{
            font-size: 12px;
        }
        figcaption{
            float: right;
            color: #45B0E3;
            font-size: 30px;
            margin-right: 170px;
        }
    }
    
}

.newsletter {
    color: white;
    font-size: 25px;
    align-items: left;
    .lorem{
        padding-top: 12px;
        font-size: 16px;
    }
    .input{
        width: 200px;
        padding-left: 5px;
        background: lighten(black,40%);
        border: none;
        color: white;
    }
}

.tags {
    color: white;
    font-size: 25px;
    a{
        margin-left: 20px;
    }
}

.buttons{
    justify-content: left;
    text-align: left;
    margin-left: 20px;
    button{
        background: lighten(black,40%);
        border: none;
        color: gray;
        padding-left: 10px;
        padding-left: 10px;
        height: 25px; 
        margin: -2px;
    }
}

.foot2{
    margin-left: 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    color: white;
    header{
        font-size: 25px;
    }
    figure{
        margin-top:20px;
        padding-bottom: 20px;
        border-bottom: 1px solid gray;
        a{
            color: lighten(black,60%)
        }
        img{
            width: 60px;
            height: 60px;
            float: right;
            margin-right: 20px;
        }
        figcaption{
            font-size: 15px;
            float:left;
            width: 70%;
            margin-top: -40px;
            color: white;
            font-size: 14px;
        }
    }
    
}

.foot{
    font-size: 14px;
    div{
        width: 940px; 
        margin:auto;
        color: gray;
        text-align: left;
        ul{
            li{
                margin: -10px;
            }
            float: right;
        }
    
    }
    margin-top: 30px;
    border-top: 1px solid gray;
    background: lighten(black,20%);
    display: flex;
    padding-bottom: 50px;

}