@import "slider";
@import "news";
@import "popularbar";
@import "footer";

body {
    background: #E4E4E4;
}
#header1 {
    background: lighten(black,20%);
    color: white;
    height: 50px;
    margin: auto;  
    display: flex;
    flex-direction: row;
     
}
.prvi {
    font-size: 24px;
    width: 100%;
}

.drugi {
    #media:hover{
        color: lighten( #000000, 40%)
    }
    #marketing:hover{
        color: lighten( #000000, 40%)
    }
    #contact:hover{
        color: lighten( #000000, 40%)
    }
}
.row {
    width: 100%;
    display: flex;
    height: 100%;
    
}


.container {
    width: 940px;
    margin: auto;
    height: 50px; 
}

.centered {
    height: 100%;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0; 
        display: flex;
    }
    li {
        display: flex;
        align-items: center;    
        height: 100%;
    }
    .himg {
        height: 50px;
        width: 20px;
        background: lighten(#252525, 10%);


    }
}


.header-img {
    height:16px; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

li { 
    padding-left: 20px;
    padding-right: 20px;
    
}
.category {
    font-size: 20px;
    height: 100%;
    li {
        display: flex;
        align-items: center;    
        height: 100%;
    }
}
#header2 {
    background: #4D4382;
    height: 50px;
    color: white;
    #news:hover {
        background-color: #299EC3;
        
    }
    #business:hover {
        background-color: #EE6151;
    }
    #sport:hover {
        background-color: #84C14F;
    }
    #life:hover {
        background-color: #299EC3;
    }
    #tech:hover {
        background-color: #FCC44D;
    }
    #travel:hover {
        background-color: #A99765;
    }
}
#news {
    border-bottom: 2px solid #299EC3;
}

#business {
    border-bottom: 2px solid #EE6151;
}
#sport {
    border-bottom: 2px solid #84C14F;
}
#life {
    border-bottom: 2px solid #299EC3;
}
#tech {
    border-bottom: 2px solid #FCC44D;
}
#travel {
    border-bottom: 2px solid #A99765;
}

.container2 {
    width: 940px;
    margin: auto;
    align-content: center;
    .banner {
        margin-top: 20px;
    }
}

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .banner {
        margin-top: 20px;
        margin-left:3px;
    }
}

.container5{
    width: 940px;
    margin: auto;
    align-content: center;
}