@mixin newsbox {
    margin-top: 20px;
    background: white;
    float: left;
    width: 620px;
    :link {
        float: right;
        margin-right: 2%;
    }
    .naslov {
        font-size: 25px;
        margin-left: 5%;
    }
    header {
        margin-top: 5%;
    }
}

@mixin figure3 {
    figure { 
        display: inline-block;
        margin-left: 5.5%;
        width: 18%;
        figcaption{
            margin-top: 5px;
            font-size: 14px;
            width: 170px;
        }
        img{
            
            height: 128px;
            width: 170px;
        }
    }
}
@mixin figure4 {
    figure {
        display: inline-block;
        margin-left: 5%;
        width: 37%;
        a{
            font-size: 10px;
            float: right;
            margin-right: 35px;
        }
        figcaption{
            margin-top: -65px;
            float: right; 
            width: 45%;
            margin-left: -5px;
        }
       
    } 
}
@mixin figure2 {
    figure { 
        vertical-align: top;
        display: inline-block;
        width: 35%;
        margin-left: 5%;
        figcaption{
            margin-top: 5px;
        }
        img{
            height: 150px;
            width: 230px;
        }
    }
}
@mixin rotate {
    .rotate{
        float: right;
        margin-right: 5%;
    }
    .right{
        margin-left: 25px;
    }
}


.news {
    width: 100%;
    @include newsbox();
    @include figure3();
    border-left: 6px solid #299EC3;
    header{
        a{
            color: black;
        }
        .link{
            color: blue;
        }
    }
    a{
        color: lighten(black, 50%);
        font-size: 10px;
    }
    .link{
        font-size: 16px;
    }
    
}
.sport {
    @include newsbox();
    @include figure3();
    border-left: 6px solid #84C14F;
    header{
        a{
            color: black;
        }
        .link{
            color: blue;
        }
    }
    a {
        color: lighten(black, 50%);
        font-size: 10px;
    }
    .link{
        font-size: 16px;
    }
}
.newsbar {
    width: 620px;
}

.business {
    @include newsbox();
    @include figure4();
    border-left: 6px solid #EE6151;
    figure{
        figcaption{
            font-size: 12px;
            float: right;
            width: 70%;
            margin-right: -50px;
            
        }
        a{
            color: lighten(black, 50%);
            margin-right: 32px;
        }
        img{
            height: 80px;
            width: 110px;
        }
    }
}
.newscarousel{
    @include newsbox();
    @include figure2();
    @include rotate(); 
    border-left: 6px solid #FCC44D;
    header{
        a{
            color: black;
        }
    }
    a {
        color: lighten(black, 50%);
        font-size: 10px;
    }
    
    
}

.popularbar {
    margin-top: 20px;
    margin-left: 20px;
    width: 300px;
}
.ediandnews{
    padding-top: 20px;
    width: 620px;
    display: flex;
    flex-direction: row;
    a {
        color: lighten(black, 50%);
        font-size: 10px;
    }

}

.Editorials{
    @include rotate();
    width: 48%;
    figure{
        margin-left:10%;
        figcaption{
            margin-top: 5px;
        }
        img{
            height: 150px;
            width: 230px;
        }
    }
    background: white;

    .naslov {
        color: black;
        font-size: 25px;
        margin-left: 5%;
    }
    header{
        padding-top: 7%;
    }
    border-left: 6px solid #A99765;
}

.LocalNews {
    @include rotate();
    margin-left: 20px;
    width: 48%;
    background: white;
    float: right;
    margin-right: -25px;
    .naslov {
        color: black;
        font-size: 25px;
        margin-left: 5%;
    }
    header{
        padding-top: 7%;
    }
    figure{
        margin-left:10%;
        figcaption{
            margin-top: 5px;
        }
        img{
            height: 150px;
            width: 230px;
        }
    }
    border-left: 6px solid #A99765;
}

.novosti{
    display: flex;
    align-items: flex-start;
}

.sporta{
    display: flex;
    align-items: flex-start;
}
