.naslov2 {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
    li {
        display: flex;
        align-items: center;    
        height: 50px;
        color: white;
        text-decoration: underline;
        font-size: 16px;
    }
    li:hover {
        color:  #FCC44D;
    }
    background: darken(#4D4382, 5%)
}
.container4 {
    background: #4D4382;
    
    figure {
        display: inline-block;
        width: 100%;
        height: 100%;
        padding-top: 20px;
        margin-top: -20px;
        a{
            font-size: 12px;
            color: lighten(#4D4382, 25%);
            margin-left: 10%;
        }
        img {
            float: right;
            margin-right: 5%;
            margin-bottom: 20px;
            width: 70px;
            height: 70px;;
        }
        figcaption {
            float: left; 
            margin-left: 10%;
            margin-top:5px;
            width: 60%;
            font-size: 12px;
            color: white;
        }
        margin-left: 0px;
        border-bottom: 1px solid darken(#4D4382, 5%);
        
    }
    figure:hover{
        background: darken(#4D4382, 5%);
    }
    
}

.popularbar {
    .social {
        margin-top: 20px;
    }
    header {
        font-size: 30px;
    }
    .kenaztv {
        margin-top: 20px;
        background: white;
        header{
            margin-left: 15%;
        }
        figcaption{
            margin-left: 15%;
        }
    }
    .doublebanner{
        background:darken(#E4E4E4, 5%); 
        
        
    }
    
}

.socdisp {
    display: flex;
    width: 100%;
    background:darken(#E4E4E4, 5%);
    margin-top: 4px;
    height: 40px;
    align-items: center;
    justify-content: space-between;

    .numbers {
        height: 40px;
        width: 50%;
        background: #4D4382;
        text-align: center;
        justify-content: center;
        p {
            height: 100%;
            color: white;
            margin-block-start: 10px;
        }
    }
}

.kenaztv {
    figure {
        margin-left: 0;
    }
}
.envato{
    background: white;
    margin-top: 20px;
    height: 400px;
    width: 300px;
}