.slider {
    color: aliceblue;
    margin-top: 20px;
    display: flex;
    align-items: left;
    width: 100%;
    position: relative;
    
    img{
        width: 940px;
        height: 400px;
    }
    .ostat{
        
        img{
            width: 32px;
            height: 50px;
        }
        .preview{
            width: 111px;
            height: 111px;
        }
    }
    .left {
        position: absolute;
        top: 40%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
    .right {
        position: absolute;
        top: 40%;
        right: 10%;
        transform: translate(-50%, -50%);
    }
    a {
        text-align: left;
        width: 100%;
        position: absolute;
        top: 65%;
        left:55%;
        transform: translate(-50%, -50%);
        font-size: 25px;
    }
    .datum{
        top: 55%;
        font-size: 12px;
        left: 55%;
    }
    .read {
        position: absolute;
        bottom: 10%;
        left: 5%; 
        width: 20%;
        height: 10%;    
        background: transparent;
        color: white;  
    }
    .preview{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
   
    .slike{
        position: absolute;
        display: inline;
        top: 65%;
        left: 35px;
        img{
            margin: 2px;
            height: 120px;
            width: 120px;
        }
    }
    .velika{
        img{
            height: 400px;
            width: 940px;
        }
    }
}
.banner{
    margin-top: 20px;
}

